<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>				
			<% if logged_in? %>
				<div class="btn-group pull-right">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i> <%= current_user.name %>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><%= link_to "Event", events_path %></li>
						<li class="divider"></li>
						<li><%= link_to "Calendar", calhome_path %></li>
						<li class="divider"></li>
						<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>	
					</ul>
				</div>
			<% else %>
				<%= link_to "Sign in", signin_path, class: "brand" %>
			<% end %>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li>
						<%= link_to raw("<h4>CALENDO</h4><span><h6>Track your daily activity</h6></span>"), root_path, :id=>"logo" %>
					</li><li class="divider-vertical"></li>
				</ul>
			</div>
		</div>
	</div>
</div>